#main-topic{
    position: relative;
    box-sizing: unset;
}

#noi-dung{
    position: absolute;
    top: 180px;
    left: 390px;
    color: white;
    text-align: center;
}
#noi-dung h1{
    font-size: 80px;
}
#noi-dung p{
    font-size: 16px;
    letter-spacing: 1;
}

#email-login{
    margin-top: 180px;
}
#email-login-input{
    display: flex;
    justify-content: center;
}
#email-login-input input{
    height: 40px;
    padding: 0px 200px 0px 15px;
    font-size: 16px;
}
#button-login{
    width: 60px;
    height: 40px;
    background-color: var(--main-color);
    line-height: 50px;
    cursor: pointer;
}

#email-social{
    margin: 50px 0 100px;
}
#email-social img{
    margin: 0 10px;
    cursor: pointer;
}

#email-comeback{
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 25px 80px 20px;
    letter-spacing: 1;
    background-color: var(--main-color);
}